{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<article class="media content-section d-flex">
  <img
    class="rounded-circle article-img d-flex p-2"
    src="{{post.author.profile.image.url}}"
  />
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2 text-decoration-none text-info" href="#"
        >{{ post.author }}</a
      >
      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
    </div>
    <h2>
      <a class="article-title text-decoration-none" href="#"
        >{{ post.title }}</a
      >
    </h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{%endfor%} {% endblock content %}
